.info-section-4 {
    margin-top: 10rem;
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    .left-col {
        .section-sub-title {
            @include SFSemiBold(2.5rem);
            position: relative;
            padding-left: 8rem;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 45%;
                // transform: translateY(-50%);
                width: 6rem;
                height: 3px;
                background-color: $black;
            }
        }
        .section-title {
            @include SFBold(7rem);
            margin: 0;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        .info-text {
            @include SFRegular (2.25rem);
            font-family: 400;
            line-height: 4rem
        }
        .info-section-btn {
            @include SFSemiBold (2.5rem);
            background-color: $black;
            color: $white;
            padding: 1.5rem 2.5rem;
            border: none;
            margin-top: 4rem;
            &:hover {
                transition: all .3s;
                background-color: #999999;
            }
        }
    }
    .right-col {
        position: relative;
        margin-left: 10rem;
    }
}

.our-mission {
    margin-top: 10rem;
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    .left-col {
        width: 50%;
        .section-sub-title {
            @include SFSemiBold(2.5rem);
            position: relative;
            padding-left: 8rem;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 45%;
                // transform: translateY(-50%);
                width: 6rem;
                height: 3px;
                background-color: $black;
            }
        }
        .section-title {
            @include SFBold(7rem);
            margin: 0;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        .info-text {
            @include SFRegular (2.25rem);
            font-family: 400;
            line-height: 4rem
        }
        .info-text-mission {
            @include SFSemiBoldItalic (2.25rem);
            background-color: #F7F7F7;
            padding-left: 2.5rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 6px;
                left: 0;
                bottom: 0;
                background-color: $black;
            }
        }
        .logo-big {
            margin-top: 4rem;
        }
        .info-section-btn {
            @include SFSemiBold (2.5rem);
            background-color: $black;
            color: $white;
            padding: 1.5rem 2.5rem;
            border: none;
            margin-top: 4rem;
            &:hover {
                transition: all .3s;
                background-color: #999999;
            }
        }
    }
    .right-col {
        width: 50%;
        position: relative;
        margin-left: 10rem;
        .secondary-title {
            margin: 0
        }
        .our-misison-text-pic {
            width: 100%;
        }
        .info-text {
            @include SFRegular (2.25rem);
            font-family: 400;
            line-height: 4rem;
            span {
                @include SFSemiBold (2.25rem);
            }
        }
    }
}

.our-team {
    margin-top: 10rem;
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    .team-info-cont {
        display: flex;
        justify-content: space-between;
        .left-col {
            .section-sub-title {
                @include SFSemiBold(2.5rem);
                position: relative;
                padding-left: 8rem;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 45%;
                    // transform: translateY(-50%);
                    width: 6rem;
                    height: 3px;
                    background-color: $black;
                }
            }
            .section-title {
                @include SFBold(7rem);
                margin: 0;
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
            .info-text {
                @include SFRegular (2.25rem);
                font-family: 400;
                line-height: 4rem
            }
            .info-section-btn {
                @include SFSemiBold (2.5rem);
                background-color: $black;
                color: $white;
                padding: 1.5rem 2.5rem;
                border: none;
                margin-top: 4rem;
                &:hover {
                    transition: all .3s;
                    background-color: #999999;
                }
            }
        }
        .right-col {
            position: relative;
            margin-left: 10rem;
        }
    }
    .team-members {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .container {
            position: relative;
            width: 48%;
            .email-phone-cont {
                display: flex;
                margin-bottom: 1rem;
                h1 {
                    margin-left: 1.5rem;
                }
            }
          }
          
          .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
          }
          
          .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            .name {
                color: white;
                @include SFBold (3.5rem);
                color: $black;
              }
              .title {
                  @include SFRegular (3rem);
                  color: #999999;
              }
          }
          
          .container:hover .image {
            opacity: 0.3;
          }
          
          .container:hover .middle {
            opacity: 1;
          }
    }
}